/* Stylesheet for landing page & global styles
 */

.bkg {
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: cover;
    text-align: center;
}

/* Creating fixed background container
to get rid of the white space around bkg */

.bkg-container{
    position: fixed; 
    top: -50%; 
    left: -50%; 
    /* width: 150%; 
    height: 150%; */
     width: 200%; 
    height: 200%;

}

.name-box{
    position: absolute;
    /* margin: auto; */
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: transparent;
    /* border: 3px solid white; */
    color: white;
    font-family: 'Brygada 1918', serif;
    font-family: 'Caveat', cursive;
    padding: 4px;
    font-size: 50px;
    line-height: 100px;
    width: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
